/*
 * Component: Callout
 * ------------------
 */

// Base styles (regardless of theme)
.callout {
  @include border-radius(3px,3px,3px,3px);
  margin: 0 0 20px 0;
  padding: 45px 30px 45px 30px;
  position: relative;
  a {
    color: #fff;
    text-decoration: underline;
    &:hover {
      color: #eee;
    }
  }
  span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 10px;
    color: #fafafa;
    font-size: 13px;
    background: rgba(0,0,0,0.2);
    text-transform: uppercase;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code,
  .highlight {
    background-color: #fff;
  }

  // Themes for different contexts
  &.callout-danger {
    @extend .bg-red;
  }
  &.callout-warning {
    @extend .bg-yellow;
  }
  &.callout-info {
    @extend .bg-aqua;
  }
  &.callout-success {
    @extend .bg-green;
    //border-color: darken($green, 10%);
  }
}
